.popover {
    pointer-events: none;
}

.cases {
    fill: #777;
    stroke: #3b3d3c;
    stroke-width: 1.5;
    stroke-opacity: 1;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-width: 1;
    stroke-linejoin: round;
}

.state-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}

.state.RO,
.state.AC,
.state.AM,
.state.RR,
.state.PA,
.state.AP,
.state.TO { 
    fill: #90eb9d; 
    opacity: .8;
}

.state.MA,
.state.PI,
.state.CE,
.state.RN,
.state.PB,
.state.PE,
.state.AL,
.state.SE,
.state.BA { 
    fill: #CECEFE;
    opacity: .8; 
}

.state.MG,
.state.ES,
.state.RJ,
.state.SP { 
    fill: #1A818C; 
    opacity: .8;
}

.state.PR,
.state.SC,
.state.RS { 
    fill: #f29e2e; 
    opacity: .8;
}

.state.DF,
.state.GO,
.state.MT,
.state.MS { 
    fill: #ffb9b9;
    opacity: .8; 
}